.popover {
  animation: in 0.5s cubic-bezier(0.01,0.45,0,0.83), out 0.4s cubic-bezier(0.61,0.1,0.97,0.79) 0.5s forwards;
  //animation: in 0.5s cubic-bezier(0.01,0.45,0,0.83);
  will-change: transform;
  //transform: translate3d(var(--translateX), var(--translateY), 0);
  animation-composition: add, replace;
}

@keyframes in {
  0% {
    opacity: 0;
    transform: translate3d(var(--translateX), calc(var(--translateY) + 14px), 0) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate3d(var(--translateX), calc(var(--translateY) + 0px), 0) scale(1);
  }
}

@keyframes out {
  0% {
    opacity: 1;
    transform: translate3d(var(--translateX), calc(var(--translateY) + 0px), 0);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate3d(var(--translateX), calc(var(--translateY) - 14px), 0);
  }
}
